.menu {
    background-color: #222;
}

.menu .items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu > .items > .item {
    position: relative;
}

.menu > .items > .item:hover .sub-menu {
    transition: ease 1s;
    opacity: 1;
    visibility: visible;
}

.menu .items .item a:hover .sub-menu {
    transition: ease 1s;
    opacity: 1;
    visibility: visible;
}

.menu > .items > .item > .link {
    color: mediumaquamarine;
    padding: 30px;
    display: block;
    text-decoration: none;
}

.menu > .items > .item > .link:hover {
    background-color: #333;
}

/* Sub Menu */
.menu .sub-menu {
    background-color: #555;
    position: absolute;
    top: 100%;
    width: 200px;
    /*display: none;*/
    opacity: 0;
    visibility: hidden;
    transition: 0.5s linear;
    border-left: 5px solid #666;
    box-sizing: border-box;
}

.menu .sub-menu .items .item .link {
    color: #fff;
    padding: 10px;
    display: block;
    text-decoration: none;
    transition: 0.3s linear;
    border-bottom: 1px solid #666;
}

.menu .sub-menu .items .item .link:hover {
    background-color: #555;
    padding-left: 20px;
    color: aquamarine;
}

.menu .sub-menu .items {
    flex-direction: column;
}